:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.cards {
  border: 1px gray solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  height: 90%;
  margin-top: 30px;
}

.button-wrapper {
  margin-top: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  width: fit-content;
  align-self: center;
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 10px;
}
