<div class="about">
  <h2>About my Angular project</h2>
  <div class="paragraf">
    <h3>
      In my Angular project, I've created an immersive platform that highlights
      a diverse array of cars, providing users with an interactive experience to
      explore, edit, and delete entries seamlessly.
    </h3>
    <h3>
      The project employs a clean and intuitive design, allowing enthusiasts to
      navigate through various car models effortlessly. Each car entry is
      encapsulated in a dynamic card, offering detailed information and a
      visually appealing representation. Users can easily edit or delete
      entries, ensuring a personalized and streamlined browsing experience. The
      single-page layout enhances user engagement, providing a centralized hub
      for all car-related activities. This Angular project not only showcases my
      technical skills but also prioritizes user-friendly functionality, making
      it an ideal destination for car enthusiasts to interact with and manage
      their automotive preferences.
    </h3>
  </div>
</div>
