<div class="about">
  <h2>About my Angular project</h2>
  <h3>hello param</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ex
    dolores quidem hic id. Nemo nulla aut iusto quae odio non eum. Perspiciatis,
    magni. Quis repellat totam distinctio tempora inventore.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, dignissimos.
    Praesentium, amet. Nemo quas delectus fuga non laborum. Laborum ullam minus
    atque voluptate ipsam est libero ad repellendus suscipit eum, corporis fuga,
    impedit sed dicta nulla maiores incidunt, architecto facere! Modi quis
    laudantium assumenda quo optio. Ea quis quia modi magni! Laborum adipisci
    aperiam fugit et, accusamus autem voluptates repellat ratione totam pariatur
    eos vel ex vero facilis esse. Error, doloribus! A alias illum quidem ipsum
    odit deleniti fugit quia odio, unde consequatur asperiores nihil mollitia
    vel quisquam modi. Eius ipsa fugit voluptates temporibus fuga a corrupti
    amet molestiae deserunt.
  </p>
</div>
