:host {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

h2{
  font-size: 40px;
}

p{
  font-size: 20px;
}

.car-wrapper {
  border: 3px solid black;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  border-radius: 20px;
}

.pic-and-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pic-and-year{
  display: flex;
  gap: 10px;
}

.pictue-wrapper {
  width: 400px;
  height: 300px;
}

.button-wrapper {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

button {
  width: fit-content;
  align-self: center;
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 30px;
}

.car-edit {
  border: 3px solid black;
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  border-radius: 20px;
}

.edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-fields {
  width: 100%;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  
}

label{
    font-size: 30px;
}
